<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="admin.css">
    <title>Admin</title>
</head>
<body>
    <h1 style="text-align: center;">ADMIN PANEL</h1>
    <div class="container">
        <a href="/manager"><button class="btn">Manager</button></a>
        <a href="/employee"><button class="btn">Add Employee</button></a>
        <a href="/menu"><button class="btn">Menu</button></a>
        <a href="/addmenu"><button class="btn">Add Menu</button></a>
        <a href="/waiter"><button class="btn">Waiter</button></a>
        <a href="/cashier"><button class="btn">Cashier</button></a>
        <a href="/customer"><button class="btn">Customer</button></a>
        <a href="/sellstatements"><button class="btn">Balance</button></a>
        <!-- <a href="/sell"><button class="btn">Sell Menu</button></a> -->
    </div>
</body>
</html>