body{
    padding-left: 5%;
    padding-right: 5%;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th{
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}